<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee           http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- Forcer l'encodage UTF-8 sur toutes les JSP -->
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    
    <!-- Servlet pour l'authentification -->
    <servlet>
        <servlet-name>AuthentificationServlet</servlet-name>
        <servlet-class>com.vesticorps.servlets.AuthentificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthentificationServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet pour la création d'un compte -->
    <servlet>
        <servlet-name>CreerCompteServlet</servlet-name>
        <servlet-class>com.vesticorps.servlets.CreerCompteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreerCompteServlet</servlet-name>
        <url-pattern>/creer_compte</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet pour la liste de produit du vendeur -->
    <servlet>
        <servlet-name>ProduitServletVendeur</servlet-name>
        <servlet-class>com.vesticorps.servlets.vendeur.ProduitServletVendeur</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProduitServletVendeur</servlet-name>
        <url-pattern>/vendeur/produit</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet pour la liste de produit du client -->
    <servlet>
        <servlet-name>ProduitServletClient</servlet-name>
        <servlet-class>com.vesticorps.servlets.client.ProduitServletClient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProduitServletClient</servlet-name>
        <url-pattern>/client/produit</url-pattern>
    </servlet-mapping>
    
     <!-- Servlet pour ajouter un produit --> 
    <servlet>
        <servlet-name>AjouterProduitServlet</servlet-name>
        <servlet-class>com.vesticorps.servlets.vendeur.AjouterProduit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjouterProduitServlet</servlet-name>
        <url-pattern>/vendeur/ajouterProduit</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet de deconnexion --> 
    <servlet>
        <servlet-name>DeconnexionServlet</servlet-name>
        <servlet-class>com.vesticorps.servlets.DeconnexionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeconnexionServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet permettant au vendeur de modifier un produit --> 
    <servlet>
        <servlet-name>ModifierProduitServlet</servlet-name>
        <servlet-class>com.vesticorps.servlets.vendeur.ModifierProduitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifierProduitServlet</servlet-name>
        <url-pattern>/vendeur/produit/modifier</url-pattern>
    </servlet-mapping>
    
   <!-- Servlet pour supprimer un produit --> 
   <servlet>
        <servlet-name>SupprimerProduitServlet</servlet-name>
        <servlet-class>com.vesticorps.servlets.vendeur.SupprimerProduitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupprimerProduitServlet</servlet-name>
        <url-pattern>/vendeur/produit/supprimer</url-pattern>
    </servlet-mapping>
    
   <!-- Servlet pour ajouter un produit au panier --> 
   <servlet>
        <servlet-name>AjouterPanierServlet</servlet-name>
        <servlet-class>com.vesticorps.servlets.client.AjouterPanierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjouterPanierServlet</servlet-name>
        <url-pattern>/client/panier/ajouter</url-pattern>
    </servlet-mapping>
    
   <!-- Servlet pour voir les produits dans le panier du client --> 
   <servlet>
        <servlet-name>PanierServlet</servlet-name>
        <servlet-class>com.vesticorps.servlets.client.PanierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PanierServlet</servlet-name>
        <url-pattern>/client/panier</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet pour supprimer un produit dans le panier -->
    <servlet>
        <servlet-name>SupprimerDuPanierServlet</servlet-name>
        <servlet-class>com.vesticorps.servlets.client.SupprimerDuPanierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupprimerDuPanierServlet</servlet-name>
        <url-pattern>/client/panier/supprimer</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet permettant au client de valider une commande -->
    <servlet>
        <servlet-name>ValiderCommandeServlet</servlet-name>
        <servlet-class>com.vesticorps.servlets.client.ValiderCommandeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValiderCommandeServlet</servlet-name>
        <url-pattern>/client/commande/valider</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet permettant au client de voir sa liste de commande --> 
    <servlet>
        <servlet-name>CommandesServlet</servlet-name>
        <servlet-class>com.vesticorps.servlets.client.CommandesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommandesServlet</servlet-name>
        <url-pattern>/client/commandes</url-pattern>
    </servlet-mapping>
    
   <!-- Servlet permettant au vendeur de lister les commandes --> 
   <servlet>
        <servlet-name>CommandesVendeurServlet</servlet-name>
        <servlet-class>com.vesticorps.servlets.vendeur.CommandesVendeurServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommandesVendeurServlet</servlet-name>
        <url-pattern>/vendeur/commandes</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet permettant au vendeur de voir la statistique des ventes -->
    <servlet>
        <servlet-name>StatistiqueServlet</servlet-name>
        <servlet-class>com.vesticorps.servlets.vendeur.StatistiqueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StatistiqueServlet</servlet-name>
        <url-pattern>/vendeur/statistique</url-pattern>
    </servlet-mapping>
</web-app>
